* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}


/* Header section */
.header {
  margin: 0 auto;
  background-color: #F6F6F9;
  width: 1440px;
}

.start-line {
  width: 1440px;
  height: 4px;
  background: #295093;
  margin: 0 auto;
  margin-bottom: 40px;
}

.namanganliklar-box {
  display: flex;
  justify-content: space-between;
}

.first-box {
  display: flex;
  align-items: center;
  gap: 17px;
}

.namanganlik-logo {
  width: 320px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.valyuta-kursi {
  width: 258px;
  height: 21px;

}

.second-box {
  display: flex;
}

.lupa {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 21.9px;
}

.ru-language {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 65px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-right: 23.24px;
}

.ru-flag {
  border-radius: 50%;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.31px;
  width: 146px;
  height: 40px;
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
  cursor: pointer;
}

.subscribe-btn a {
  text-decoration: none;
}
.subscribe-btn p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
  height: 68px;
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  margin-top: 40px;
  padding: 0 9px;
}

.list-menu {
  list-style: none;
}

.list-menu a {
  text-decoration: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
}

.list-menu.blue-color a {
  color: #295091;
}

.banner-image {
  margin-top: 18px;
  margin-bottom: 23px;
}